#heading {
    font-size: 5rem;
}

section {
    background-image: linear-gradient(100deg, #1d292e, #7e7e7e);
    overflow-x: hidden;
}

.form-control::placeholder {
    color: white !important;
}

.tasks{
    margin-left: 3rem;
}

.item.completed p {
    text-decoration: line-through;
}

.item-value{
    /* border: 1px solid black; */
    border-radius: 2rem;
    padding: 1rem 0;
    background-color: #1d292ebd;
    margin-left: 2rem;
    margin-right: 2rem;
}

.item-btn {
    display: flex;
    justify-content: space-around;
    align-items:center;
    /* border: 1px solid black; */
    border-radius: 2rem;
    background-color: #7e7e7e;
    padding: 1rem 0;
}

